<div class="container first">
    <!-- MAIN HEADER -->
    <div class="header">
        <h1>rick jones piano</h1>
    </div>
    <!-- MAIN CONTENT BLOCK -->
    <div class="main-content">
      <h1>70,000+</h1>
      <h3>piano lessons taught</h3>
      <a href="#signup"><p class='myButton'>sign up</p></a>
      <p class='small'><i>only $16 a lesson</i></p>
    </div>
</div>

<!-- SECOND CONTAINER -->
<div class="container second">
  
    <!-- FOOTER ELEMENTS-->
    <div class="main-footer">
      <div class="footer-element">
        <a href="#about_rick"><h4>about rick.</h4></a>
      </div>
      <div class="footer-element">
        <a href="#signup"><h4>sign up.</h4></a>
      </div>
      <div class="footer-element">
        <a href="#how"><h4>how it works.</h4></a>
      </div>
      <div class="footer-element">
        <a href="#contact"><h4>contact.</h4></a>
      </div>
    </div>
    <br>
</div>
 <!-- CONTENT BLOCKS -->
<div id="about_rick" class="content-block one">
  <h2>about rick.</h2>
  <br>
  <p>Rick has taught over 70,000+ private lessons in 26+ years of teaching. <strong><u>At one point, Rick was teaching close to 5,000 piano lessons a year.</u> </strong>
  </p>
  <br>
  <p>He's taught students as young as 4 and as old as 80. It's never too late to learn.</p>
  <br>
  <p>Rick is certified by the National Music Teacher's Association. He is also certified in the famous Suzuki method. </p>
  <br>
  <p>Rick has worked with some of the best pianists in the world, and he shares that experience with everyone he teachers.</p>
  <br>
  <br>
</div>

<div  id="signup" class="content-block two">
  <br>
  <h2>sign up.</h2>
  <br>
  <p>Signing up is simple.</p>
  <br>
  <p>Call Rick at <u>801-731-0391</u> to check for availability.</p>
  <br>
  <p> Rick teaches students Monday-Saturday. He starts as early as 7am and has taught as late as 9pm. </p> 
  <br>
  <p>Lessons are taught at Rick's piano studio at his home in West Haven.</p>
  <br>
  <br>
</div>

<div id="how" class="content-block three">
  <h2>how it works.</h2>
  <br>
  <p>Each week, students get a 30 minute private lesson from Rick. Students are expected to practice 4-6 times per week.</p>
  <br>
  <p><u>Rick charges by the month. It's $64 per month which works out to be $16 per lesson.</u></p>
  <br>
  <p>Students are also invited to play at recitals which Rick hosts. Playing at recitals is encouraged. It's a great way to practice performing and let others see the progress you've made.</p>
  <br>
   <p>With his experience, Rick could charge much more, but prefers to keep it affordable so that more people can learn the instrument he loves. </p>
   <br>
   <br>
</div>
<div id="contact" class="content-block four last">
  <h2>contact.</h2>
  <br>
  <p>Rick is old school. The best way to reach Rick is by phone. If he's not there, feel free to leave a message with questions.</p>
  <br>
  <p><u>801-731-0391</u></p>
  <br>
</div>
